/******************************************
/* CSS
/*******************************************/

/* Box Model Hack */
*{
  box-sizing: border-box;
}

/******************************************
/* LAYOUT
/*******************************************/

body {
  padding: 50px;
  margin: 0 auto;
  max-width: 100%;
}

h2 {
  display: flex;
  font-size: 12px;
}

/******************************************
/* ADDITIONAL STYLES
/*******************************************/
